<!doctype html>
<html>
    <body>
    	<center>
        <form action = "http://localhost:5000/result" method = 'POST', enctype = "multipart/form-data">

            <p> Name: <input type = "text" name = "name" /> </p>
            <p> Age: <input type = "text" name = "age" /> </p>
            <p> Gender: <input type = "text" name = "gender" /> </p>

            <p> Facebook: <input type = "text" name = "fb" /> </p>
            <p> Instagram: <input type = "text" name = "ig" /> </p>
            <p> Snapchat: <input type = "text" name = "snap" /> </p>
            <p> Twitter: <input type = "text" name = "twitter" /> </p>

            <label>Paragraph about you</label>
            <p><textarea name="para" cols="50" rows="10" ></textarea></p>

            <label>Select image</label>
            <p> <input type="file" name="image"> </p>

            <p> <input type = "submit" value = "submit" /> </p>
        </form>
    	</center>
    </body>
</html>