html {
	position: relative;
	background-color: white;
	font-family: monospace;
}

body {
	padding: 0px;
	margin: 0px;
	font-size: 15px;
}

h1 {
	padding: 25px;
	margin: 0px;
	color: white;
	background-color: #A069FF;
	text-align: center;
	text-shadow: 1px 1px gray;
}

img {
	margin: 0px 0px 0px 0px;
	border: 3px solid black;
	padding: 1px;
	background-color: gray;
}

#head {
	font-size: 20px;
	font-weight: bold;
}

table {
	padding-left: 0px;
	margin: 0px 0px 0px 0px;
}