<!DOCTYPE html>
<html>
	<head>
		<title>FirstImpression</title>
		<link rel = "stylesheet" type = "text/css" href = "styles.css"/>
	</head>

<center>
	<body>
		<h1> Daniel Xiong </h1>

		<br> </br>

		<img src="profpic.jpg" height="300" width="300"/>

		<table>
			<center>
			<tr>
				<td id = "head">About me:</td>
			</tr>
			<tr>
				<td>Facebook: <a href="http://www.facebook.com">fb</a> </td>
			</tr>
			<tr>
				<td>Instagram: igusername</td>
			</tr>
			<tr>
				<td>Twitter: <a href="http://www.twitter.com">twitter</a> </td>
			</tr>
			<tr>
				<td>Snapchat: scusername</td>
			</tr>
		</center>

		</table>


	</body>
</center>


</html>